
/* general fot the whole page */

html {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: auto;
    color: rgba(0, 0, 0, 0.822);
  }
  
  body {
    padding: 2%;
    text-align: justify;
  }
  
  a {
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
  }
  
  div {
    margin: 2%;
  }

/*small screen size*/

@media screen and (max-width: 480px) {
    body {
      background-color: rgb(182, 39, 39);
    }
    #large,
    #medium,
    #small {
      float: none;
      display: inline-block;
      width: 95%;
    }
  }

/*medium screen size*/

@media screen and (max-width: 1024px) {
    body {
      background-color: rgb(75, 177, 75);
    }
    #large {
      float: left;
      width: 62%;
    }
    #medium {
      float: right;
      width: 29%;
    }
    #small {
      clear: both;
      width: 95%;
    }
  }

/*large screen size*/

@media screen and (min-width: 1024px) {
    body {
      background-color: rgb(58, 115, 189);
    }
    div {
      float: inline-start;
      width: 29%;
    }
  }